---
layout: default
---

{% comment %} gets project information from site.data {% endcomment %}

{% assign project_info = nil %}
{% for project_folds in site.data.projects %}
  {% assign project_fold = project_folds[1] %}
  {% if project_fold.project_info.uid == page.project_uid %}
    {% assign project_info = project_fold %}
    {% break %}
  {% endif %}
{% endfor %}

{% comment %} sends user to project 404 if project data not found {% endcomment %}
{% if project_info == nil %}
  {% include project_404.html %}
{% else %}

<h1> {{ project_info.name }} </h1>
{{ project_info.uid }}
{% comment %} start project data {% endcomment %}

<h3> Project Lead </h3>
{% include project_person_role.html query="project lead" %}

<h3> Project Managers </h3>
{% include project_person_role.html query="project manager" %}

<h3> Moderators </h3>
{% include project_person_role.html query="moderator" %}

{% endif %}
